body {
  background: url('/img/background.png') repeat;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 960px;
}

.truncated_line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#header {
  background: black url('/img/header.png') no-repeat top center;
  color: white;
  height: 460px;
}

#header .container {
  padding-top: 100px;
}

.headline {
  font-size: 60px;
  line-height: 60px;
}

.subhead {
  font-size: 30px;
  line-height: 60px;
}

#unauthenticated {
  padding-top: 100px;
  text-align: center;
}

#unauthenticated p {
  line-height: 23px;
  padding-top: 45px;
}

#unauthenticated p img {
  vertical-align: bottom;
}

#events {
  display: none;
  padding-top: 20px;
}

.event_grid .event {
  display: block;
  float: left;
  line-height: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 220px;
}

.event_grid .event .artist_image,
.event_grid .event .artist_image .placeholder {
  width: 100%;
}

.event_grid .event .artist_image {
  -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  display: block;
  height: 220px;
  margin-bottom: 4px;
  position: relative;
}

.event_grid .event .artist_image .loaded_image {
  padding: 5px;
  width: 210px;
}

.event_grid .event .metadata {
  padding-left: 5px;
}

.event_grid .event .date,
.event_grid .event .artist,
.event_grid .event .venue {
  color: #89949b;
  display: block;
  font-size: 14px;
}

.event_grid .event .artist {
  color: #4b5c66;
  font-size: 16px;
}
