<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>

     <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div class="container">
      <div class="row-fluid">
        <a href="/"><img class="logo" src="img/showdio.png"></a>

        {% if user %}
          <img class="icon" src="{{ user['icon'] }}" />
          Hey, {{ user['firstName'] }}! |
          <a href="/location">{{ user['location'] }}</a> |
          <a href="/logout">Sign Out</a>
        {% else %}
          <a href="/login">Sign In</a>
        {% endif %}
      </div>

      <div class="row-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="js/jquery.mustache.js"></script>
    <script src="js/showdio.js"></script>

  </body>
</html>
