<!DOCTYPE html>
<html lang="en">

  <head>
    <title>
      {% block title %}
      {% endblock %}
    </title>

     <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
     <link href="css/showdio.css" rel="stylesheet" media="screen">
  </head>

  <body>

    <div id="header">
      <div class="container">
        <div class="headline">Showdio</div>
        <div class="subhead">Artists in your collection, concerts in your town.</div>
      </div>
    </div>
    <div class="container" id="content">
      <div class="row-fluid">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="https://rdio.com/api/api.js?client_id=HaFppqX7mO61Lbth-M0h_g"></script>

    {% block scripts %}
    {% endblock %}

  </body>
</html>
