{% extends 'base.html' %}

{% block title %}
Showdio - Find out when your favorite bands play your town
{% endblock %}

{% block content %}
  <div id="unauthenticated">
    <button id="authenticate_button" class="btn" type="button">
      Don't tase me, bro!
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Artists</th>
        <th>Venue</th>
        <th>Tickets</th>
      </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script src="js/jquery.mustache.js"></script>
  <script src="js/showdio.js"></script>
{% endblock %}
