{% extends 'base.html' %}

{% block title %}
Showdio - Find out when your favorite bands play your town
{% endblock %}

{% block content %}
  <div id="unauthenticated">
    <button id="authenticate_button" class="btn btn-large" type="button">
      Sign in
    </button>
    <p>
      or sign up for
        <a target="_blank" href="http://rdio.com">
          <img src="img/rdio.png">
        </a>
    </p>
  </div>

  <div id="events">
    <div class="event_grid"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="js/jquery.mustache.js"></script>
  <script src="js/showdio.js"></script>
{% endblock %}
